# Byte-compiled / optimized / DLL files
__pycache__/
python_packages/

# ignore raw data files
*.pkl
*.csv
*.txt
*.tfw
*.tif
!requirements.txt
*.log
*.npy
*.zip
*.xlsx
*.docx
*.json
*.xml
*.pcd.bin
!nuScenes.json
!nuScenes_state_delta.json
!pedestrians.json

# ignore tempory files
*.tmp

# ignore pictures
*.png
*.jpg
*.pcd
*.xcf
*.pb


# C extensions
*.so
*.m

# ignore visualization tools
!header.tex
*.aux
*.gz
*.out
rename_files.py
remove_files.py
Results/
*.zarr/
Data_sets/NuScenes/v1.0-mini/
simulations*.py


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version


