# Byte-compiled / optimized / DLL files
__pycache__/
python_packages/

# ignore raw data files
*.pkl
*.csv
*.txt
!requirements.txt
*.log
*.npy
*.zip
*.xlsx
*.docx
*.json
!nuScenes.json
!nuScenes_state_delta.json
!pedestrians.json

# ignore tempory files
*.tmp

# ignore pictures
*.png
*.jpg
*.pcd
*.xcf


# C extensions
*.so
*.m

# ignore visualization tools
Latex_files/
rename_files.py
remove_files.py
Results/
simulations*.py


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version


